<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3 style="text-align: center">All Hotels</h3>

    <div class="container">
      <div class="row">
        <% hotels.forEach(hotel => { %>
        <div class="col-md-4">
          <div
            class="card"
            style="
              margin: 15px;
              border: 1px solid #ccc;
              padding: 15px;
              border-radius: 10px;
            "
          >
            <img
              src="/uploads/<%= encodeURIComponent(hotel.filename) %>"
              onerror="this.onerror=null; this.src='/images/default.png';"
              width="200"
              height="200"
              alt="Hotel Image"
            />
            <p><strong>Hotel name:</strong> <%= hotel.hotel_name || 'N/A' %></p>

            <p><strong>Rating:</strong> <%= hotel.rating || 'N/A' %> ⭐</p>
            <p><strong>Rating:</strong> <%= hotel.hotel_address || 'N/A' %> ⭐</p>
            <p><strong>Rating:</strong> <%= hotel.hotel_email || 'N/A' %> ⭐</p>
            <p><strong>Rating:</strong> <%= hotel.reviewcount || 'N/A' %> ⭐</p>
            <p><strong>Rating:</strong> <%= hotel.area || 'N/A' %> ⭐</p>

            <p><strong>City:</strong> <%= hotel.city_name || 'N/A' %></p>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
